.form {
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid #ccc; /* Додана рамка */
    border-radius: 8px; /* Округлені кути для рамки */
    display: flex; /* Використовуємо flexbox для розташування елементів */
    flex-direction: column; /* Відображаємо елементи в колонку */
    gap: 10px; 
  }
  
  .input {
    padding: 8px;
    /* margin-bottom: 10px; */
    width: 100%;
    /* padding-right: -10px; */
    /* margin: 0 auto; 
    display: block; */
  } 
 



  
  .button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto; /* Центруємо кнопку */
    display: block; /* Задаємо блоковий елемент для того, щоб margin: auto працював */
  }
  
  
  .error {
    color: red;
  }
  